<div class="container">
    <br>
    <br>
    <label>firstname</label>
    <input type="text" [(ngModel)]="firstname" />
    <label>lastname</label>
    <input type="text" [(ngModel)]="lastname" />
    <label>email</label>
    <input type="text" [(ngModel)]="email" />
    <input type="submit" value="add " (click)="add()" />
    <table>
        <tr *ngFor="let hello of data">
            <td>{{hello.name}}</td>
            <td>{{hello.v1}}</td>
            <td>{{hello.v2}}</td>
        </tr>
    </table>
</div>